* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, #490490 0%, black 100%);
}
* body .player {
  position: relative;
  max-width: 750px;
}
* body .player .video {
  width: 100%;
}
* body .player .controlBar {
  position: absolute;
  width: 100%;
  bottom: 9px;
  padding: 0px 15px;
  transition: 1.5s all;
  opacity: 0;
}
* body .player .controlBar:hover {
  transition: 1.5s all;
  opacity: 1;
}
* body .player .controlBar .progressBar:hover,
* body .player .controlBar .progress:hover,
* body .player .controlBar .circle:hover {
  cursor: pointer;
}
* body .player .controlBar .progressBar {
  position: relative;
  display: flex;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 7px;
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .progressBar {
    margin-bottom: 5px;
    height: 7px;
  }
}
* body .player .controlBar .progressBar .progress {
  position: absolute;
  border-radius: 5px;
  background: #0075ff;
  height: 10px;
  width: 0%;
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .progressBar .progress {
    height: 7px;
  }
}
* body .player .controlBar .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
* body .player .controlBar .buttons .speaker:hover,
* body .player .controlBar .buttons .left:hover,
* body .player .controlBar .buttons .play:hover,
* body .player .controlBar .buttons .right:hover,
* body .player .controlBar .buttons .fullScreen:hover,
* body .player .controlBar .buttons .volumeBar:hover,
* body .player .controlBar .buttons .volume:hover {
  cursor: pointer;
}
* body .player .controlBar .buttons .speakerBar {
  display: flex;
  align-items: flex-start;
  column-gap: 5px;
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .speakerBar {
    align-items: center;
  }
}
* body .player .controlBar .buttons .speakerBar .speaker {
  content: url(../../assets/images/speaker.svg);
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .speakerBar .speaker {
    width: 15px;
  }
}
* body .player .controlBar .buttons .speakerBar .mute {
  content: url(../../assets/images/mute.svg);
}
* body .player .controlBar .buttons .speakerBar .volumeBar {
  padding-bottom: 4px;
}
* body .player .controlBar .buttons .speakerBar .volumeBar .volume {
  -webkit-appearance: none;
  position: relative;
  border-radius: 5px;
  height: 5px;
  width: 100px;
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .speakerBar .volumeBar .volume {
    width: 70px;
    padding-bottom: 4px;
  }
  * body .player .controlBar .buttons .speakerBar .volumeBar .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 10px;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background-color: #0075ff;
  }
}
* body .player .controlBar .buttons .playBox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}
* body .player .controlBar .buttons .playBox .play {
  content: url(../../assets/images/play.svg);
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .playBox .play {
    width: 30px;
  }
}
* body .player .controlBar .buttons .playBox .pause {
  content: url(../../assets/images/pause.svg);
}
* body .player .controlBar .buttons .rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 12px;
}
* body .player .controlBar .buttons .rightSide .speeds {
  border: none;
  color: #fcfcfc;
  -webkit-appearance: none;
  background: rgba(0, 117, 255, 0.7);
  padding: 2px 3.5px 2px 2px;
  outline: none;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .rightSide .speeds {
    padding: 0;
    font-weight: normal;
  }
}
* body .player .controlBar .buttons .rightSide .speeds option {
  border: none;
  outline: none;
  font-weight: bold;
  background: rgba(0, 117, 255, 0.7);
  padding: 2px 0;
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .rightSide .speeds option {
    padding: 0;
    font-weight: normal;
    width: 12px;
  }
}
* body .player .controlBar .buttons .rightSide .fullScreen {
  content: url(../../assets/images/fullScreen.svg);
}
@media only screen and (max-width: 480px) {
  * body .player .controlBar .buttons .rightSide .fullScreen {
    width: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
