@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: map-get($color, background, gradient);
    .player {
      position: relative;
      max-width: 750px;
      .video {
        width: 100%;
      }
      .controlBar {
        position: absolute;
        width: 100%;
        bottom: 9px;
        padding: 0px 15px;
        display: none;
        .progressBar,
        .progress,
        .circle {
          &:hover {
            cursor: pointer;
          }
        }
        .progressBar {
          position: relative;
          display: flex;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background: map-get($color, primary, progress);
          margin-bottom: 7px;
          @media only screen and (max-width: 480px) {
            margin-bottom: 5px;
            height: 7px;
          }
          .progress {
            position: absolute;
            border-radius: 5px;
            background-color: map-get($color, primary, blue);
            height: 10px;
            width: 0%;
            @media only screen and (max-width: 480px) {
              height: 7px;
            }
          }
        }
        .buttons {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          .speaker,
          .left,
          .play,
          .right,
          .fullScreen,
          .volumeBar,
          .volume {
            &:hover {
              cursor: pointer;
            }
          }
          .speakerBar {
            display: flex;
            align-items: flex-start;
            column-gap: 5px;
            @media only screen and (max-width: 480px) {
              align-items: center;
            }
            .speaker {
              content: url(../../assets/images/speaker.svg);
              @media only screen and (max-width: 480px) {
                width: 15px;
              }
            }
            .mute {
              content: url(../../assets/images/mute.svg);
            }
            .volumeBar {
              padding-bottom: 4px;
              .volume {
                -webkit-appearance: none;
                position: relative;
                border-radius: 5px;
                height: 5px;
                width: 100px;
                @media only screen and (max-width: 480px) {
                  width: 70px;
                  padding-bottom: 4px;
                  &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border-radius: 10px;
                    margin-top: 4px;
                    width: 10px;
                    height: 10px;
                    background-color: map-get($color, primary, blue);
                  }
                }
              }
            }
          }
          .playBox {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 7px;
            .play {
              content: url(../../assets/images/play.svg);
              @media only screen and (max-width: 480px) {
                width: 30px;
              }
            }
            .pause {
              content: url(../../assets/images/pause.svg);
            }
          }
          .rightSide {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 12px;
            .speeds {
              border: none;
              color: #fcfcfc;
              -webkit-appearance: none;
              background-color: map-get($color, primary, blue);
              padding: 2px 3.5px 2px 2px;
              outline: none;
              font-weight: map-get($font, weight, bold);
              @media only screen and (max-width: 480px) {
                padding: 0;
                font-weight: map-get($font, weight, regular);
              }
              option {
                border: none;
                outline: none;
                font-weight: map-get($font, weight, bold);
                background-color: map-get($color, primary, blue);
                padding: 2px 0;
                @media only screen and (max-width: 480px) {
                  padding: 0;
                  font-weight: map-get($font, weight, regular);
                  width: 12px;
                }
              }
            }
            .fullScreen {
              content: url(../../assets/images/fullScreen.svg);
              @media only screen and (max-width: 480px) {
                width: 12px;
              }
            }
          }
        }
      }
      .visible {
        transition: 1.5s all;
        display: block;
      }
    }
  }
}
