// @use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(
      circle,
      rgba(73, 4, 144, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    .player {
      position: relative;
      max-width: 750px;
      .video {
        width: 100%;
      }
      .controlBar {
        position: absolute;
        width: 100%;
        bottom: 9px;
        padding: 0px 15px;
        transition: 1.5s all;
        opacity: 0;
        &:hover {
          transition: 1.5s all;
          opacity: 1;
        }
        .progressBar,
        .progress,
        .circle {
          &:hover {
            cursor: pointer;
          }
        }
        .progressBar {
          position: relative;
          display: flex;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.2);
          margin-bottom: 7px;
          @media only screen and (max-width: 480px) {
            margin-bottom: 5px;
            height: 7px;
          }
          .progress {
            position: absolute;
            border-radius: 5px;
            background: #0075ff;
            height: 10px;
            width: 0%;
            @media only screen and (max-width: 480px) {
              height: 7px;
            }
          }
        }
        .buttons {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          .speaker,
          .left,
          .play,
          .right,
          .fullScreen,
          .volumeBar,
          .volume {
            &:hover {
              cursor: pointer;
            }
          }
          .speakerBar {
            display: flex;
            align-items: flex-start;
            column-gap: 5px;
            @media only screen and (max-width: 480px) {
              align-items: center;
            }
            .speaker {
              content: url(../../assets/images/speaker.svg);
              @media only screen and (max-width: 480px) {
                width: 15px;
              }
            }
            .mute {
              content: url(../../assets/images/mute.svg);
            }
            .volumeBar {
              padding-bottom: 4px;
              .volume {
                -webkit-appearance: none;
                position: relative;
                border-radius: 5px;
                height: 5px;
                width: 100px;
                @media only screen and (max-width: 480px) {
                  width: 70px;
                  padding-bottom: 4px;
                  &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border-radius: 10px;
                    margin-top: 4px;
                    width: 10px;
                    height: 10px;
                    background-color: rgba(0, 117, 255, 1);
                  }
                }
              }
            }
          }
          .playBox {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 7px;
            .play {
              content: url(../../assets/images/play.svg);
              @media only screen and (max-width: 480px) {
                width: 30px;
              }
            }
            .pause {
              content: url(../../assets/images/pause.svg);
            }
          }
          .rightSide {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 12px;
            .speeds {
              border: none;
              color: #fcfcfc;
              -webkit-appearance: none;
              background: rgba(0, 117, 255, 0.7);
              padding: 2px 3.5px 2px 2px;
              outline: none;
              font-weight: bold;
              @media only screen and (max-width: 480px) {
                padding: 0;
                font-weight: normal;
              }
              option {
                border: none;
                outline: none;
                font-weight: bold;
                background: rgba(0, 117, 255, 0.7);
                padding: 2px 0;
                @media only screen and (max-width: 480px) {
                  padding: 0;
                  font-weight: normal;
                  width: 12px;
                }
              }
            }
            .fullScreen {
              content: url(../../assets/images/fullScreen.svg);
              @media only screen and (max-width: 480px) {
                width: 12px;
              }
            }
          }
        }
      }
    }
  }
}
